body {

	padding-top: 60px;
	padding-bottom: 40px;

}

#login h3 {

	margin-bottom: 8px;
	margin-top: 40px;
	
}

#setCommand form label {

	margin-left: 10px;
	margin-right: 10px;

}

#online {

	margin-bottom: 15px;
}

#commands ul li {

	padding: 5px;

}